:root {
  --container-width: 1540px;
  --container-padding: 24px;
  --main-gradient-1-color: #2af598;
  --main-gradient-2-color: #009efd;
  --primary-color: var(--main-gradient-2-color);
  --secondary-color: var(--main-gradient-1-color);
  --contrast-color: #ffffff;
  --primary-text-color: #081323;
  --secondary-text-color: #4f4f4f;
  --secondary-alternative-text-color: #828282;
  --light-background-color: rgba(255, 255, 255, 0.2);
  --card-background-color: #c1d0e4;
  --footer-background-1-color: #566270;
  --footer-background-2-color: #283444;
  --box-background-color: var(--light-background-color);
  --success-color: #3f993f;
  --error-color: #db5252;
  --warning-color: #ffc800;
  --info-color: #3f80ca;
  --divider-color: var(--white-color);
  --white-color: #ffffff;
  --black-color: #000000;
  --box-radius: 50px;
  --font-family: "Work Sans", sans-serif;
  --indent-level-1: 8px;
  --indent-level-2: 16px;
  --indent-level-3: 24px;
  --indent-level-4: 32px;
  --indent-level-5: 40px;
  --indent-level-6: 56px;
  --indent-level-7: 80px;
  --indent-level-8: 96px;
  --indent-level-9: 120px;
  --indent-level-10: 144px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  font-family: inherit;
  line-height: inherit;
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

input,
select {
  vertical-align: middle;
  outline: none;
  border: none;
}

ul,
ul li {
  list-style: none;
}

.text-small {
  --text-small-size: 16px;
  --text-small-line-height: 19px;
  font-size: var(--text-small-size, 16px);
  line-height: var(--text-small-line-height, 19px);
  font-style: normal;
  font-weight: 700;
}

.text-normal {
  --text-normal-size: 20px;
  --text-normal-line-height: 23px;
  font-size: var(--text-normal-size, 20px);
  line-height: var(--text-normal-line-height);
  font-style: normal;
  font-weight: 400;
}

.text-big {
  --text-big-size: 24px;
  --text-big-line-height: 28px;
  font-size: var(--text-big-size, 24px);
  line-height: var(--text-big-line-height, 28px);
  font-style: normal;
  font-weight: 400;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-level-1 {
  --text-level-1-size: 80px;
  --text-level-1-line-height: 96px;
  font-size: var(--text-level-1-size, 80px);
  line-height: var(--text-level-1-line-height);
  font-style: normal;
  font-weight: 700;
}

.text-level-2 {
  --text-level-2-size: 64px;
  --text-level-2-line-height: 75px;
  font-size: var(--text-level-2-size, 64px);
  line-height: var(--text-level-2-line-height);
  font-style: normal;
  font-weight: 500;
}

.text-level-3 {
  --text-level-3-size: 48px;
  --text-level-3-line-height: 56px;
  font-size: var(--text-level-3-size, 48px);
  line-height: var(--text-level-3-line-height, 56px);
  font-style: normal;
  font-weight: 500;
}

.text-level-4 {
  --text-level-4-size: 32px;
  --text-level-4-line-height: 38px;
  font-size: var(--text-level-4-size, 32px);
  line-height: var(--text-level-4-line-height, 38px);
  font-style: normal;
  font-weight: 500;
}

.text-level-5 {
  --text-level-5-size: 24px;
  --text-level-5-line-height: 34px;
  font-size: var(--text-level-5-size, 24px);
  line-height: var(--text-level-5-line-height, 34px);
  font-style: normal;
  font-weight: 700;
}

.text-color-primary {
  color: var(--primary-text-color);
}

.text-color-secondary {
  color: var(--secondary-text-color);
}

.text-color-secondary-alternative {
  color: var(--secondary-alternative-text-color);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-black {
  color: var(--black-color);
}

.text-color-gradient {
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}

.indent-p-top-1 {
  padding-top: var(--indent-level-1);
}

.indent-p-top-2 {
  padding-top: var(--indent-level-2);
}

.indent-p-top-3 {
  padding-top: var(--indent-level-3);
}

.indent-p-top-4 {
  padding-top: var(--indent-level-4);
}

.indent-p-top-5 {
  padding-top: var(--indent-level-5);
}

.indent-p-top-6 {
  padding-top: var(--indent-level-6);
}

.indent-p-top-7 {
  padding-top: var(--indent-level-7);
}

.indent-p-top-8 {
  padding-top: var(--indent-level-8);
}

.indent-p-top-9 {
  padding-top: var(--indent-level-9);
}

.indent-p-top-10 {
  padding-top: var(--indent-level-10);
}

.indent-p-bottom-1 {
  padding-bottom: var(--indent-level-1);
}

.indent-p-bottom-2 {
  padding-bottom: var(--indent-level-2);
}

.indent-p-bottom-3 {
  padding-bottom: var(--indent-level-3);
}

.indent-p-bottom-4 {
  padding-bottom: var(--indent-level-4);
}

.indent-p-bottom-5 {
  padding-bottom: var(--indent-level-5);
}

.indent-p-bottom-6 {
  padding-bottom: var(--indent-level-6);
}

.indent-p-bottom-7 {
  padding-bottom: var(--indent-level-7);
}

.indent-p-bottom-8 {
  padding-bottom: var(--indent-level-8);
}

.indent-p-bottom-9 {
  padding-bottom: var(--indent-level-9);
}

.indent-p-bottom-10 {
  padding-bottom: var(--indent-level-10);
}

.indent-p-left-1 {
  padding-left: var(--indent-level-1);
}

.indent-p-left-2 {
  padding-left: var(--indent-level-2);
}

.indent-p-left-3 {
  padding-left: var(--indent-level-3);
}

.indent-p-left-4 {
  padding-left: var(--indent-level-4);
}

.indent-p-left-5 {
  padding-left: var(--indent-level-5);
}

.indent-p-left-6 {
  padding-left: var(--indent-level-6);
}

.indent-p-left-7 {
  padding-left: var(--indent-level-7);
}

.indent-p-left-8 {
  padding-left: var(--indent-level-8);
}

.indent-p-left-9 {
  padding-left: var(--indent-level-9);
}

.indent-p-left-10 {
  padding-left: var(--indent-level-10);
}

.indent-p-right-1 {
  padding-right: var(--indent-level-1);
}

.indent-p-right-2 {
  padding-right: var(--indent-level-2);
}

.indent-p-right-3 {
  padding-right: var(--indent-level-3);
}

.indent-p-right-4 {
  padding-right: var(--indent-level-4);
}

.indent-p-right-5 {
  padding-right: var(--indent-level-5);
}

.indent-p-right-6 {
  padding-right: var(--indent-level-6);
}

.indent-p-right-7 {
  padding-right: var(--indent-level-7);
}

.indent-p-right-8 {
  padding-right: var(--indent-level-8);
}

.indent-p-right-9 {
  padding-right: var(--indent-level-9);
}

.indent-p-right-10 {
  padding-right: var(--indent-level-10);
}

.indent-p-x-1 {
  padding-left: var(--indent-level-1);
  padding-right: var(--indent-level-1);
}

.indent-p-x-2 {
  padding-left: var(--indent-level-2);
  padding-right: var(--indent-level-2);
}

.indent-p-x-3 {
  padding-left: var(--indent-level-3);
  padding-right: var(--indent-level-3);
}

.indent-p-x-4 {
  padding-left: var(--indent-level-4);
  padding-right: var(--indent-level-4);
}

.indent-p-x-5 {
  padding-left: var(--indent-level-5);
  padding-right: var(--indent-level-5);
}

.indent-p-x-6 {
  padding-left: var(--indent-level-6);
  padding-right: var(--indent-level-6);
}

.indent-p-x-7 {
  padding-left: var(--indent-level-7);
  padding-right: var(--indent-level-7);
}

.indent-p-x-8 {
  padding-left: var(--indent-level-8);
  padding-right: var(--indent-level-8);
}

.indent-p-x-9 {
  padding-left: var(--indent-level-9);
  padding-right: var(--indent-level-9);
}

.indent-p-x-10 {
  padding-left: var(--indent-level-10);
  padding-right: var(--indent-level-10);
}

.indent-p-y-1 {
  padding-top: var(--indent-level-1);
  padding-bottom: var(--indent-level-1);
}

.indent-p-y-2 {
  padding-top: var(--indent-level-2);
  padding-bottom: var(--indent-level-2);
}

.indent-p-y-3 {
  padding-top: var(--indent-level-3);
  padding-bottom: var(--indent-level-3);
}

.indent-p-y-4 {
  padding-top: var(--indent-level-4);
  padding-bottom: var(--indent-level-4);
}

.indent-p-y-5 {
  padding-top: var(--indent-level-5);
  padding-bottom: var(--indent-level-5);
}

.indent-p-y-6 {
  padding-top: var(--indent-level-6);
  padding-bottom: var(--indent-level-6);
}

.indent-p-y-7 {
  padding-top: var(--indent-level-7);
  padding-bottom: var(--indent-level-7);
}

.indent-p-y-8 {
  padding-top: var(--indent-level-8);
  padding-bottom: var(--indent-level-8);
}

.indent-p-y-9 {
  padding-top: var(--indent-level-9);
  padding-bottom: var(--indent-level-9);
}

.indent-p-y-10 {
  padding-top: var(--indent-level-10);
  padding-bottom: var(--indent-level-10);
}

.indent-m-top-1 {
  margin-top: var(--indent-level-1);
}

.indent-m-top-2 {
  margin-top: var(--indent-level-2);
}

.indent-m-top-3 {
  margin-top: var(--indent-level-3);
}

.indent-m-top-4 {
  margin-top: var(--indent-level-4);
}

.indent-m-top-5 {
  margin-top: var(--indent-level-5);
}

.indent-m-top-6 {
  margin-top: var(--indent-level-6);
}

.indent-m-top-7 {
  margin-top: var(--indent-level-7);
}

.indent-m-top-8 {
  margin-top: var(--indent-level-8);
}

.indent-m-top-9 {
  margin-top: var(--indent-level-9);
}

.indent-m-top-10 {
  margin-top: var(--indent-level-10);
}

.indent-m-bottom-1 {
  margin-bottom: var(--indent-level-1);
}

.indent-m-bottom-2 {
  margin-bottom: var(--indent-level-2);
}

.indent-m-bottom-3 {
  margin-bottom: var(--indent-level-3);
}

.indent-m-bottom-4 {
  margin-bottom: var(--indent-level-4);
}

.indent-m-bottom-5 {
  margin-bottom: var(--indent-level-5);
}

.indent-m-bottom-6 {
  margin-bottom: var(--indent-level-6);
}

.indent-m-bottom-7 {
  margin-bottom: var(--indent-level-7);
}

.indent-m-bottom-8 {
  margin-bottom: var(--indent-level-8);
}

.indent-m-bottom-9 {
  margin-bottom: var(--indent-level-9);
}

.indent-m-bottom-10 {
  margin-bottom: var(--indent-level-10);
}

.indent-m-left-1 {
  margin-left: var(--indent-level-1);
}

.indent-m-left-2 {
  margin-left: var(--indent-level-2);
}

.indent-m-left-3 {
  margin-left: var(--indent-level-3);
}

.indent-m-left-4 {
  margin-left: var(--indent-level-4);
}

.indent-m-left-5 {
  margin-left: var(--indent-level-5);
}

.indent-m-left-6 {
  margin-left: var(--indent-level-6);
}

.indent-m-left-7 {
  margin-left: var(--indent-level-7);
}

.indent-m-left-8 {
  margin-left: var(--indent-level-8);
}

.indent-m-left-9 {
  margin-left: var(--indent-level-9);
}

.indent-m-left-10 {
  margin-left: var(--indent-level-10);
}

.indent-m-right-1 {
  margin-right: var(--indent-level-1);
}

.indent-m-right-2 {
  margin-right: var(--indent-level-2);
}

.indent-m-right-3 {
  margin-right: var(--indent-level-3);
}

.indent-m-right-4 {
  margin-right: var(--indent-level-4);
}

.indent-m-right-5 {
  margin-right: var(--indent-level-5);
}

.indent-m-right-6 {
  margin-right: var(--indent-level-6);
}

.indent-m-right-7 {
  margin-right: var(--indent-level-7);
}

.indent-m-right-8 {
  margin-right: var(--indent-level-8);
}

.indent-m-right-9 {
  margin-right: var(--indent-level-9);
}

.indent-m-right-10 {
  margin-right: var(--indent-level-10);
}

.indent-m-x-1 {
  margin-left: var(--indent-level-1);
  margin-right: var(--indent-level-1);
}

.indent-m-x-2 {
  margin-left: var(--indent-level-2);
  margin-right: var(--indent-level-2);
}

.indent-m-x-3 {
  margin-left: var(--indent-level-3);
  margin-right: var(--indent-level-3);
}

.indent-m-x-4 {
  margin-left: var(--indent-level-4);
  margin-right: var(--indent-level-4);
}

.indent-m-x-5 {
  margin-left: var(--indent-level-5);
  margin-right: var(--indent-level-5);
}

.indent-m-x-6 {
  margin-left: var(--indent-level-6);
  margin-right: var(--indent-level-6);
}

.indent-m-x-7 {
  margin-left: var(--indent-level-7);
  margin-right: var(--indent-level-7);
}

.indent-m-x-8 {
  margin-left: var(--indent-level-8);
  margin-right: var(--indent-level-8);
}

.indent-m-x-9 {
  margin-left: var(--indent-level-9);
  margin-right: var(--indent-level-9);
}

.indent-m-x-10 {
  margin-left: var(--indent-level-10);
  margin-right: var(--indent-level-10);
}

.indent-m-y-1 {
  margin-top: var(--indent-level-1);
  margin-bottom: var(--indent-level-1);
}

.indent-m-y-2 {
  margin-top: var(--indent-level-2);
  margin-bottom: var(--indent-level-2);
}

.indent-m-y-3 {
  margin-top: var(--indent-level-3);
  margin-bottom: var(--indent-level-3);
}

.indent-m-y-4 {
  margin-top: var(--indent-level-4);
  margin-bottom: var(--indent-level-4);
}

.indent-m-y-5 {
  margin-top: var(--indent-level-5);
  margin-bottom: var(--indent-level-5);
}

.indent-m-y-6 {
  margin-top: var(--indent-level-6);
  margin-bottom: var(--indent-level-6);
}

.indent-m-y-7 {
  margin-top: var(--indent-level-7);
  margin-bottom: var(--indent-level-7);
}

.indent-m-y-8 {
  margin-top: var(--indent-level-8);
  margin-bottom: var(--indent-level-8);
}

.indent-m-y-9 {
  margin-top: var(--indent-level-9);
  margin-bottom: var(--indent-level-9);
}

.indent-m-y-10 {
  margin-top: var(--indent-level-10);
  margin-bottom: var(--indent-level-10);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: var(--primary-text-color);
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: var(--secondary-text-color);
}

picture {
  width: inherit;
  height: inherit;
}

picture,
img {
  display: block;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img_vertical {
  width: auto;
  height: 100%;
}

.img_horizontal {
  width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding-right: var(--container-padding, 16px);
  padding-left: var(--container-padding, 16px);
  margin-right: auto;
  margin-left: auto;
}

.overflow-x-h {
  overflow-x: hidden;
}

.overflow-y-h {
  overflow-y: hidden;
}

.overflow-h {
  overflow: hidden;
}

.relative {
  position: relative;
}

.upper {
  text-transform: uppercase;
}

a {
  transition: color 400ms ease;
  color: var(--primary-text-color);
}

a:hover {
  color: var(--primary-color);
}

.icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-text-color);
}

.icon_primary svg {
  fill: var(--primary-color);
}

.icon_small svg {
  width: 16px;
  height: 16px;
}

.icon_big svg {
  width: 32px;
  height: 32px;
}

.icon_biggest svg {
  width: 48px;
  height: 48px;
}

.icon__badge {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 50%;
  color: var(--contrast-color);
}

.gradient {
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
}

hr {
  border-top: 1px solid var(--divider-color, #fff);
}

.button {
  display: inline-flex;
  align-items: center;
  border-radius: var(--box-radius);
  height: 50px;
  flex-shrink: 0;
  background: var(--box-background-color);
  color: var(--contrast-color);
  fill: var(--contrast-color);
  transition: background 500ms ease;
  padding: 8px 24px;
}

.button svg {
  fill: inherit;
}

.button_primary {
  background: linear-gradient(90deg, #2af598 0%, #009efd 50%, #009efd 100%);
  background-size: 200%;
  background-position: 0% 0%;
}

.button_primary:hover,
.button_primary:focus,
.button_primary:active {
  background-position: 100% 0%;
}

.button_transparent {
  transition: color 400ms ease, fill 400ms ease;
  background: transparent;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.button_transparent:hover,
.button_transparent:focus,
.button_transparent:active {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.button_icon {
  justify-content: center;
  width: 50px;
  padding: 0;
}

.button_icon .icon {
  transition: transform 275ms ease;
}

.button_icon:hover .icon,
.button_icon:focus .icon {
  transform: scale(1.06);
}

.button_icon:active .icon {
  transform: scale(0.94);
}

.field {
  --input-radius: 50px;
  --input-placeholder-color: rgba(255, 255, 255, 0.6);
  --input-text-color: #ffffff;
  --input-background-color: var(--light-background-color);
  display: flex;
  align-items: center;
  position: relative;
  background: var(--input-background-color);
  padding: 8px;
  border-radius: var(--input-radius);
  border: 1px solid var(--input-text-color);
  color: var(--input-text-color);
  outline: none;
  resize: none;
}

.field__input {
  width: 100%;
  color: inherit;
  border-radius: inherit;
  font-size: var(--text-normal-size);
  font-weight: 400;
  line-height: 23px;
  min-height: 50px;
  padding: 0px 16px;
  background-color: transparent;
}

.field__input::-moz-placeholder {
  color: var(--input-placeholder-color);
}

.field__input::-ms-input-placeholder {
  color: var(--input-placeholder-color);
}

.field__input::placeholder {
  color: var(--input-placeholder-color);
}

.field-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-box__name {
  display: inline-block;
  font-size: 16px;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  text-transform: uppercase;
}

.field-box__name > span {
  color: var(--primary-color);
  font-weight: bold;
}

.field-box__error:not(:empty),
.field-box__hint:not(:empty) {
  display: inline-block;
  font-size: 14px;
  margin: 8px 24px 0px;
}

.field-box__error:not(:empty) {
  color: var(--error-color);
}

.field-box__hint:not(:empty) {
  color: var(--secondary-text-color);
}

.icon-css {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.icon-css:not(.icon-css_mask) {
  background-size: 100% 100%;
}

.icon-css_mask {
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
}

.icon-css_box {
  background-image: url("../images/icons-css.svg#box");
}

.icon-css_payment {
  background-image: url("../images/icons-css.svg#payment");
}

.icon-css_support {
  background-image: url("../images/icons-css.svg#support");
}

.icon-css_light {
  background-image: url("../images/icons-css.svg#light");
}

.icon-css_water {
  background-image: url("../images/icons-css.svg#water");
}

.icon-css_plant {
  background-image: url("../images/icons-css.svg#plant");
}

.icon-css_temperature {
  background-image: url("../images/icons-css.svg#temperature");
}

.icon-css_star {
  -webkit-mask-image: url("../images/icons-css.svg#star");
          mask-image: url("../images/icons-css.svg#star");
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  width: auto;
  height: 46px;
  min-width: 180px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 5;
}

.navigation__menu {
  margin-right: -16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 180px;
}

.actions__item .icon svg {
  fill: var(--white-color);
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-button svg {
  width: 40px;
  height: 40px;
}

.menu-button[data-mobile-active] .menu-button__line_1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu-button[data-mobile-active] .menu-button__line_2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.menu-button[data-mobile-active] .menu-button__line_3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu-button__line {
  fill: none;
  stroke: var(--white-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__line_1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu-button__line_2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.menu-button__line_3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  position: relative;
}

.menu__item > a {
  transition: background 500ms ease;
  padding: 8px 32px;
  font-size: 24px;
  background: linear-gradient(90deg, #fff 0%, #fff 50%, #2af598 50%, #009efd 100%);
  background-size: 200%;
  background-position: 0% 0%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.menu__item > a:hover {
  background-position: 100% 0%;
}

.menu__item_active > a {
  font-weight: 600;
  background-position: 100% 0%;
}

.footer {
  background: linear-gradient(94deg, var(--footer-background-1-color) 0%, var(--footer-background-2-color) 100%);
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: -24px -40px;
}

.footer__item {
  max-width: 340px;
  margin: 24px;
}

.footer__newslatter {
  max-width: 460px;
}

.links-list__item:not(:last-of-type) {
  margin-bottom: 16px;
}

.hero {
  position: relative;
  min-height: 1060px;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-position: bottom center;
}          .webp .hero {            background-image: url("../images/hero-background.webp")          }                  .avif .hero {            background-image: url("../images/hero-background.avif")          }        

.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 83.65%);
}

.hero__title,
.hero__text {
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  max-width: 80%;
}

.hero__text {
  max-width: 40%;
}

.search {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.hero-hint {
  position: relative;
}

.hero-hint__trigger {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--box-background-color);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid var(--white-color);
  cursor: help;
  z-index: 3;
}

.hero-hint__trigger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  border-radius: inherit;
}

.hero-hint__body {
  position: absolute;
  bottom: calc(100% + 16px);
  left: 50%;
  transform: translateX(-50%) translateY(80px) scale(0.2);
  pointer-events: none;
  opacity: 0;
  background: var(--box-background-color);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 1px solid var(--white-color);
  min-width: 200px;
  max-width: 400px;
  padding: 20px 20px 16px;
}

.hero-hint_first {
  position: absolute;
  bottom: 530px;
  left: calc(50% - 560px);
  transform: translateX(-50%);
}

.hero-hint_second {
  position: absolute;
  bottom: 370px;
  right: calc(50% - 600px);
  transform: translateX(50%);
}

.hero-hint[data-dropdown-active] .hero-hint__body {
  transition: opacity 800ms ease, transform 275ms ease;
  transform: translateX(-50%) translateY(0px) scale(1);
  pointer-events: all;
  opacity: 1;
}

.hero-hint[data-dropdown-hidden] .hero-hint__body {
  transition: opacity 300ms ease, transform 475ms ease;
}

.benefits__icon .icon-css {
  width: 84px;
  height: 84px;
}

.benefits__items {
  margin: -16px;
}

.benefits__item {
  width: 33.3333333333%;
  padding: 16px;
}

.best__meta {
  width: 380px;
}

.best__cards {
  margin-left: -16px;
  margin-right: -16px;
}

.best__cards .best-card {
  width: calc(33.3333333333% - 32px);
  margin-left: 16px;
  margin-right: 16px;
}

.best-card {
  border-radius: var(--box-radius);
  background: var(--card-background-color);
  margin-top: 112px;
}

.best-card:hover .best-card__image:after {
  width: 60px;
  height: 12px;
}

.best-card:hover .best-card__image img {
  transform: translateY(-20px) scale(1.04);
}

.best-card__image {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.best-card__image:after {
  transition: width 800ms ease, height 800ms ease;
  content: "";
  position: absolute;
  bottom: calc(48px - 4px);
  left: 50%;
  width: 80px;
  height: 14px;
  border-radius: 50%;
  transform: translateX(-50%);
  background: #a2a2a2;
  filter: blur(5px);
  z-index: -1;
}

.best-card__image img {
  transition: transform 800ms ease;
  margin-top: -112px;
  margin-bottom: 48px;
  height: 300px;
}

.best-card__inner {
  display: flex;
  flex-direction: column;
  padding: 24px 36px;
  border-radius: var(--box-radius);
  background: var(--white-color);
  min-height: 260px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating__star {
  background-color: orange;
}

.gallery {
  --gallery-gap: 16px;
}

.gallery__inner {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--gallery-gap) * -1);
}

.gallery__col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.gallery__item {
  flex: 1 1 auto;
  padding: var(--gallery-gap);
}

.image {
  position: relative;
  border-radius: var(--box-radius);
  overflow: hidden;
}

.image [data-viewer] {
  cursor: zoom-in;
}

.image_cover {
  width: 100%;
  height: 100%;
}

.image_cover img {
  width: 100%;
  height: 100%;
}

.image__caption {
  transition: opacity 500ms ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  pointer-events: none;
  opacity: 0;
}

.image__caption > span {
  transition: transform 275ms ease-in-out;
  transform: translateY(20px);
  font-size: 64px;
  font-weight: 600;
  color: var(--white-color);
}

.plants__text {
  max-width: 700px;
}

.plants__image {
  max-width: 660px;
}

.plants__icon svg,
.plants__icon .icon-css {
  width: 64px;
  height: 64px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.shrink-0 {
  flex-shrink: 0;
}

.shrink-1 {
  flex-shrink: 1;
}

.grow-0 {
  flex-grow: 0;
}

.grow-1 {
  flex-grow: 1;
}

@media (max-width: 1600px) {
  .text-level-1 {
    --text-level-1-size: 72px;
    --text-level-1-line-height: 82px;
  }

  .text-level-2 {
    --text-level-2-size: 60px;
    --text-level-2-line-height: 70px;
  }

  .text-level-3 {
    --text-level-3-size: 46px;
    --text-level-3-line-height: 52px;
  }

  .text-level-4 {
    --text-level-4-size: 30px;
    --text-level-4-line-height: 36px;
  }

  .container {
    --container-width: 1380px;
  }

  .footer__items {
    margin: -24px;
  }

  .footer__item {
    max-width: 300px;
    margin: 24px;
  }

  .hero__text {
    max-width: 46%;
  }

  .plants__text {
    max-width: 600px;
  }

  .plants__image {
    max-width: 600px;
  }
}

@media (max-width: 1400px) {
  :root {
    --box-radius: 40px;
  }

  .text-level-1 {
    --text-level-1-size: 68px;
    --text-level-1-line-height: 78px;
  }

  .text-level-2 {
    --text-level-2-size: 56px;
    --text-level-2-line-height: 64px;
  }

  .text-level-2 {
    --text-level-2-size: 56px;
    --text-level-2-line-height: 64px;
  }

  .text-level-3 {
    --text-level-3-size: 42px;
    --text-level-3-line-height: 48px;
  }

  .text-level-3 {
    --text-level-3-size: 38px;
    --text-level-3-line-height: 44px;
  }

  .text-level-4 {
    --text-level-4-size: 28px;
    --text-level-4-line-height: 34px;
  }

  .text-level-5 {
    --text-level-4-size: 22px;
    --text-level-4-line-height: 28px;
  }

  .container {
    --container-width: 1140px;
  }

  .menu__item > a {
    font-size: 22px;
    padding: 8px 24px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center !important;
  }

  .footer__item {
    max-width: none;
  }

  .footer__newslatter {
    margin-bottom: 32px;
  }

  .hero {
    min-height: 960px;
  }

  .hero__title {
    max-width: 90%;
  }

  .hero__text {
    max-width: 56%;
  }

  .hero-hint_first {
    bottom: 450px;
    left: calc(50% - 470px);
  }

  .hero-hint_second {
    bottom: 320px;
    right: calc(50% - 500px);
  }

  .benefits__items {
    justify-content: center;
  }

  .benefits__item {
    flex-shrink: 0;
    width: auto;
  }

  .best__inner {
    flex-direction: column;
  }

  .best__meta {
    width: auto;
    align-items: center;
    margin-bottom: 64px;
  }

  .image__caption > span {
    font-size: 42px;
  }

  .plants__text {
    max-width: 540px;
  }

  .plants__image {
    max-width: 480px;
  }
}

@media (max-width: 1200px) {
  .text-level-1 {
    --text-level-1-size: 64px;
    --text-level-1-line-height: 72px;
  }

  .text-level-2 {
    --text-level-2-size: 48px;
    --text-level-2-line-height: 56px;
  }

  .text-level-3 {
    --text-level-3-size: 34px;
    --text-level-3-line-height: 40px;
  }

  .container {
    --container-width: 960px;
  }

  .logo {
    height: 40px;
    min-width: 160px;
  }

  .actions {
    min-width: 160px;
  }

  .hero {
    min-height: 920px;
  }

  .hero__title {
    max-width: 100%;
  }

  .hero__text {
    max-width: 66%;
  }

  .best__cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .best__cards .best-card {
    width: 280px;
  }

  .image__caption > span {
    font-size: 34px;
  }

  .plants__inner {
    flex-direction: column;
  }

  .plants__text {
    max-width: 100%;
  }

  .plants__image {
    margin-top: 32px;
  }
}

@media (max-width: 992px) {
  :root {
    --box-radius: 30px;
  }

  :root {
    --indent-level-5: 32px;
    --indent-level-6: 40px;
    --indent-level-7: 48px;
    --indent-level-8: 56px;
    --indent-level-9: 72px;
    --indent-level-10: 80px;
  }

  .text-small {
    --text-normal-size: 14px;
    --text-normal-line-height: 16px;
  }

  .text-normal {
    --text-normal-size: 16px;
    --text-normal-line-height: 18px;
  }

  .text-big {
    --text-big-size: 20px;
    --text-big-line-height: 23px;
  }

  .text-level-1 {
    --text-level-1-size: 48px;
    --text-level-1-line-height: 54px;
  }

  .text-level-2 {
    --text-level-2-size: 44px;
    --text-level-2-line-height: 48px;
  }

  .text-level-3 {
    --text-level-3-size: 30px;
    --text-level-3-line-height: 36px;
  }

  .text-level-4 {
    --text-level-4-size: 24px;
    --text-level-4-line-height: 30px;
  }

  .text-level-5 {
    --text-level-4-size: 20px;
    --text-level-4-line-height: 26px;
  }

  .container {
    --container-width: 720px;
  }

  .header .logo {
    order: 1;
  }

  .header .navigation {
    order: 3;
  }

  .header .actions {
    order: 2;
  }

  .logo {
    min-width: auto;
    flex-grow: 1;
  }

  .navigation__menu {
    transition: opacity 225ms ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
  }

  .navigation__menu[data-mobile-active] {
    transition: opacity 300ms ease-in;
    opacity: 1;
    pointer-events: all;
  }

  .actions {
    min-width: auto;
  }

  .menu-button {
    display: flex;
  }

  .menu-button[data-mobile-active] {
    position: relative;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    padding-top: 32px;
  }

  .menu[data-mobile-active] .menu__list {
    transition: transform 225ms ease-in;
    transform: translateY(0px) scale(1);
  }

  .menu__list {
    transition: transform 325ms ease-out;
    transform: translateY(-80px) scale(0.8);
    flex-direction: column;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__item > a {
    height: auto;
    padding: 8px 16px;
  }

  .footer__items {
    flex-wrap: wrap;
    margin: -24px -32px;
  }

  .footer__item {
    margin: 24px 32px;
    width: calc(50% - 64px);
  }

  .hero {
    min-height: 840px;
  }

  .hero__text {
    max-width: 76%;
  }

  .hero-hint {
    display: none;
  }

  .benefits__item {
    min-width: 360px;
  }

  .best__cards .best-card {
    width: 300px;
  }

  .gallery {
    --gallery-gap: 8px;
  }

  .image__caption > span {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .text-level-1 {
    --text-level-1-size: 38px;
    --text-level-1-line-height: 44px;
  }

  .text-level-2 {
    --text-level-2-size: 38px;
    --text-level-2-line-height: 44px;
  }

  .text-level-3 {
    --text-level-3-size: 28px;
    --text-level-3-line-height: 32px;
  }

  .text-level-4 {
    --text-level-4-size: 22px;
    --text-level-4-line-height: 28px;
  }

  .text-level-5 {
    --text-level-4-size: 18px;
    --text-level-4-line-height: 24px;
  }

  .container {
    --container-width: 540px;
  }

  .hero__text {
    max-width: 90%;
  }

  .gallery__col {
    width: 100%;
  }
}

@media (max-width: 576px) {
  :root {
    --box-radius: 24px;
  }

  .container {
    --container-width: 100%;
  }

  .footer__items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: -24px 0px;
  }

  .footer__item {
    margin: 24px 0px;
    width: 100%;
  }
}

@media (hover: hover) {
  .image:hover .image__caption {
    opacity: 1;
  }

  .image:hover .image__caption > span {
    transform: translateY(0px);
  }
}